<md-list>
    <md-list-item ng-repeat="menuItem in $ctrl.menuItems" ng-class="{opened: menuItem.data.isOpen}">
        <md-button class="md-accent" ng-class="{active:menuItem.name===$ ctrl.activeMenuItem.name}" ng-click="$ctrl.onMenuItemClick(menuItem)" ng-if="!menuItem.abstract"> {{menuItem.data.navTitle}}
        </md-button>
        <md-button ng-class="{active:menuItem.name===$ctrl.activeMenuItem.parent}" class="md-accent" ng-click="$ctrl.onMenuClick(menuItem)" ng-if="menuItem.abstract"> {{menuItem.data.navTitle}}
            <md-icon md-font-icon="material-icons">{{menuItem.data.isOpen ? 'keyboard_arrow_up':'keyboard_arrow_down'}}</md-icon>
        </md-button>
        <md-list ng-if="menuItem.data && menuItem.data.childrens && menuItem.data.childrens.length> 0 && menuItem.data.isOpen">
            <md-list-item ng-repeat="child in menuItem.data.childrens">
                <md-button class="md-accent" ng-class="{active:child.name === $ctrl.activeMenuItem.name}" ng-click="$ctrl.onMenuItemClick(child)"> {{child.data.navTitle}}</md-button>
            </md-list-item>
        </md-list>
    </md-list-item>
</md-list>